.pixerex-countdown {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}
/* jQuery Countdown styles 2.0.0. */
.pre_countdown-row {
    display: block;
    text-align: center;
}
.countdown .pre_countdown-section {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
}
.countdown .pre_countdown-section {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    -js-display: inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.countdown .pre_countdown-section:last-child {
    margin-right: 0;
}
.countdown span.pre_countdown-amount {
    font-size: 70px;
    line-height: 1;
}
.countdown .pre_time-mid {
    display: block;
}
.pixerex-countdown-separator-yes .pre-countdown_separator {
    display: block;
    margin: 0 50px;
    font-size: 30px;
}
.pixerex-countdown-separator-yes .pre_countdown-row .pre_countdown-section:last-child .pre-countdown_separator {
    display: none;
}
/************************************ * Digit and unit styles *************************************/
.side .pre_countdown-section .pre_countdown-period {
    vertical-align: bottom;
}
.countdown .pre_countdown-section .pre_countdown-period {
    font-size: 17px;
    line-height: 3em;
}
/************************************ * Digit and unit side by side *************************************/
.side .pre_countdown-section .pre_countdown-amount, .side .pre_countdown-section .pre_countdown-period {
    display: inline-block;
}
.side .pre_countdown-section .pre_countdown-amount {
    margin-right: 5px;
}
/************************************ * Digit and unit up and down *************************************/
.down .pre_countdown-section .pre_countdown-amount, .down .pre_countdown-section .pre_countdown-period {
    display: block;
}