@font-face {
    font-family: 'pa-elements';
    src: url('../../editor/fonts/pa-elements.eot?6nhz6k');
    src: url('../../editor/fonts/pa-elements.eot?6nhz6k#iefix') format('embedded-opentype'), url('../../editor/fonts/pa-elements.ttf?6nhz6k') format('truetype'), url('../../editor/fonts/pa-elements.woff?6nhz6k') format('woff'), url('../../editor/fonts/pa-elements.svg?6nhz6k#pa-elements') format('svg');
    font-weight: normal;
    font-style: normal;
}