.pixerex-dual-header-container .pixerex-dual-header-first-header, .pixerex-dual-header-container .pixerex-dual-header-second-header {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}
.pixerex-dual-header-first-clip .pixerex-dual-header-first-span, .pixerex-dual-header-second-clip {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.pixerex-dual-header-first-clip.stroke .pixerex-dual-header-first-span, .pixerex-dual-header-second-clip.stroke {
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: #fafafa;
    -webkit-text-stroke-width: 2px;
}
@media (max-width: 500px) {
    .pixerex-dual-header-container .pixerex-dual-header-first-header, .pixerex-dual-header-container .pixerex-dual-header-second-header {
        display: block;
        word-wrap: break-word;
    }
    .pixerex-dual-header-first-container, .pixerex-dual-header-second-container {
        margin: 0;
    }
}
@media (min-width: 501px) {
    .pixerex-dual-header-first-container {
        margin-left: 5px;
    }
}
.pixerex-dual-header-first-header.gradient .pixerex-dual-header-first-span, .pixerex-dual-header-second-header.gradient {
    -webkit-background-size: 300% 300% !important;
    background-size: 300% 300% !important;
    -webkit-animation: Gradient 10s ease-in-out infinite;
    animation: Gradient 10s ease-in-out infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 100% 50%
    }
    50% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}
@keyframes Gradient {
    0% {
        background-position: 100% 50%
    }
    50% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}