.pixerex-modal-box-button-selector, .pixerex-modal-box-modal-lower-close {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.pixerex-modal-box-button-selector i {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pixerex-btn-md {
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.2;
}
.pixerex-btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pixerex-btn-block {
    display: block;
    width: 100%;
}
.pixerex-modal-box-modal-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
}
.pixerex-modal-box-modal-close:hover, .pixerex-modal-box-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
button.pixerex-modal-box-modal-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0
}
.pixerex-modal-box-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    padding: 0 !important;
    background: rgba(0,0,0,0.5)
    /*Added New to fix backdrop background*/
}
.pixerex-modal-box-modal .pixerex-modal-box-modal-dialog {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pixerex-modal-box-modal-content {
    overflow: hidden;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    /* -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     box-shadow: 0 3px 9px rgba(0, 0, 0, .5)*/
}
.pixerex-modal-backdrop.premium-in {
    filter: alpha(opacity=50);
    opacity: .5 !important;
}
.pixerex-modal-fade.premium-in {
    opacity: 1;
}
.pixerex-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}
.pixerex-modal-backdrop.pixerex-modal-fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.pixerex-modal-fade {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.pixerex-modal-box-modal.premium-in .pixerex-modal-box-modal-dialog {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: 50%;
}
.pixerex-modal-box-modal-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5
}
.pixerex-modal-box-modal-header .pixerex-modal-box-modal-close {
    margin-top: -2px
}
.pixerex-modal-box-modal-header .pixerex-modal-box-modal-title {
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
    /* clear: none;
     */
    padding: 0;
    margin: 0;
}
.pixerex-modal-box-modal-body {
    position: relative;
    padding: 15px
}
.pixerex-modal-box-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}
.pixerex-modal-box-modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}
.pixerex-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.pixerex-modal-box-text-selector {
    background: none !important;
}
.pixerex-modal-box-container {
    width: 100% !important;
}
/*Open Modal Button Style*/
.pixerex-modal-box-selector-container .pixerex-modal-box-button-selector {
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*Open Modal Img, Span Style */
.pixerex-modal-box-selector-container img, .pixerex-modal-box-selector-container span{
    cursor: pointer;
}
/*Image on Modal Header Style*/
.pixerex-modal-box-modal-header img {
    width: 48px;
    padding: 5px 0;
    vertical-align: top;
}
/*Icon On Modal Header Style*/
.pixerex-modal-box-modal-header i {
    padding-right: 6px;
}
/*Image On Modal Header Style*/
.pixerex-modal-box-modal-title img {
    vertical-align : middle;
}
/*Close Button Container Style*/
/*.pixerex-modal-box-close-button-container {
    float: right;
}
*/
.pixerex-modal-box-modal-close {
    position: relative;
    z-index: 99;
}
.pixerex-modal-box-img-selector, .pixerex-modal-box-text-selector, .pixerex-modal-box-close-button-container, .pixerex-modal-box-modal-close, .pixerex-modal-box-modal-lower-close{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* prevent Scroll on body */
.pixerex-modal-open {
    /* overflow: hidden;
     */
    /* height: 100vh;
     */
}
@media (min-width:768px) {
    .pixerex-modal-box-modal-dialog {
        width: 700px;
        max-height: 600px;
        overflow: auto;
    }
    /* .pixerex-modal-box-modal-content {
         -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
         box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
     */
}
@media (max-width:767px) {
    .pixerex-modal-box-modal-dialog {
        width: 100%;
        max-height: 500px;
        overflow: auto;
    }
}