.pixerex-banner {
    overflow: hidden;
}
.pixerex-banner-ib, .pixerex-banner-ib img {
    display: block;
    position: relative;
}
.pixerex-banner-img-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    height: 100%;
}
.pixerex-banner-img-wrap .pixerex-banner-ib-img {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.pixerex-banner-ib {
    z-index: 1;
    overflow: hidden;
    margin: 0 0 35px;
    text-align: center;
    /* cursor: pointer;
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pixerex-banner-ib-desc .pixerex-banner-read-more {
    z-index: 100;
}
.pixerex-banner-ib, .wpb_column>.wpb_wrapper .pixerex-banner-ib {
    margin-bottom: 0px
}
.elementor-widget-pixerex-elements-banner .pixerex-banner-ib-title {
    background: transparent;
}
.pixerex-banner-ib *, .pixerex-banner-ib .pixerex-banner-ib-desc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.pixerex-banner-ib img {
    min-width: 100%;
    max-width: 100%;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}
.pixerex-banner-ib .pixerex-banner-ib-desc {
    padding: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pixerex-banner-ib .pixerex-banner-ib-desc, .pixerex-banner-ib .pixerex-banner-ib-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pixerex-banner-ib .pixerex-banner-ib-link {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.pixerex-banner-ib a.pixerex-banner-ib-link {
    display: block;
    background: 0 0;
}
.pixerex-banner-animation1 img {
    width: -webkit-calc(100% + 50px)!important;
    width: calc(100% + 50px)!important;
    max-width: -webkit-calc(100% + 50px)!important;
    max-width: calc(100% + 50px)!important;
    -webkit-transition: opacity .35s,filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s, filter 0.35s, -webkit-transform .35s;
    -webkit-transition: opacity .35s, -webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s, filter 0.35s, transform .35s;
    transition: opacity .35s, filter 0.35s, transform .35s, -webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s, filter 0.35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}
.pixerex-banner-animation2 .pixerex-banner-ib-title {
    padding: 15px;
}
.pixerex-banner-animation1 .pixerex-banner-ib-desc {
    top: auto;
    bottom: 0;
    min-height: 25%;
    height: auto;
    max-height: 100%;
    text-align: left;
}
.pixerex-banner-animation1 .pixerex-banner-ib-content, .pixerex-banner-animation1 .pixerex-banner-ib-title, .pixerex-banner-animation1 .pixerex-banner-read-more {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
}
.pixerex-banner-animation1 .pixerex-banner-ib-title {
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation1 .pixerex-banner-ib-content, .pixerex-banner-animation1 .pixerex-banner-read-more {
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity .2s, -webkit-transform .35s;
    transition: opacity .2s, -webkit-transform .35s;
    transition: opacity .2s, transform .35s;
    transition: opacity .2s, transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation1:hover .pixerex-banner-ib-content, .pixerex-banner-animation1.active .pixerex-banner-ib-content, .pixerex-banner-animation1:hover .pixerex-banner-read-more, .pixerex-banner-animation1.active .pixerex-banner-read-more {
    opacity: 1;
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
}
.pixerex-banner-animation1:hover .pixerex-banner-ib-content, .pixerex-banner-animation1.active .pixerex-banner-ib-content, .pixerex-banner-animation1:hover .pixerex-banner-read-more, .pixerex-banner-animation1.active .pixerex-banner-read-more, .pixerex-banner-animation1:hover .pixerex-banner-ib-title, .pixerex-banner-animation1.active .pixerex-banner-ib-title, .pixerex-banner-animation1:hover img, .pixerex-banner-animation1.active img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
}
.pixerex-banner-animation1.zoomout img, .pixerex-banner-animation1.scale img {
    -webkit-transform: translate3d(-40px, 0, 0) scale(1.1);
    transform: translate3d(-40px, 0, 0) scale(1.1);
}
.pixerex-banner-ib.sepia img {
    -webkit-filter: sepia(30%);
    filter: sepia(30%);
}
.pixerex-banner-ib.bright img {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.pixerex-banner-ib.sepia:hover img {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
}
.pixerex-banner-ib.bright:hover img {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}
.pixerex-banner-animation1.pixerex-banner-min-height img, .pixerex-banner-animation2.pixerex-banner-min-height img, .pixerex-banner-animation4.pixerex-banner-min-height img, .pixerex-banner-animation5.pixerex-banner-min-height img, .pixerex-banner-animation6.pixerex-banner-min-height img, .pixerex-banner-animation13.pixerex-banner-min-height img {
    height: auto;
}
.pixerex-banner-animation2 img {
    width: 100%;
}
.pixerex-banner-animation2 .pixerex-banner-ib-desc::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}
.pixerex-banner-animation2 .pixerex-banner-ib-title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .35s, color .35s;
    -webkit-transition: color .35s, -webkit-transform .35s;
    transition: color .35s, -webkit-transform .35s;
    transition: transform .35s, color .35s;
    transition: transform .35s, color .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.pixerex-banner-animation2 .pixerex-banner-ib-content, .pixerex-banner-animation2 .pixerex-banner-read-more, .pixerex-banner-animation2 .pixerex-banner-ib-desc::before {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation2 .pixerex-banner-ib-content, .pixerex-banner-animation2 .pixerex-banner-read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    max-height: 50%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}
.pixerex-banner-animation2:hover .pixerex-banner-ib-title, .pixerex-banner-animation2.active .pixerex-banner-ib-title {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
}
.pixerex-banner-animation2:hover .pixerex-banner-read-more, .pixerex-banner-animation2.active .pixerex-banner-read-more, .pixerex-banner-animation2:hover .pixerex-banner-ib-desc::before, .pixerex-banner-animation2.active .pixerex-banner-ib-desc::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation2:hover .pixerex-banner-ib-content, .pixerex-banner-animation2.active .pixerex-banner-ib-content {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}
.pixerex-banner-animation3 .pixerex-banner-ib-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    text-align: left;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}
.pixerex-banner-animation3 .pixerex-banner-ib-desc::before, .pixerex-banner-animation3 .pixerex-banner-ib-title {
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation3:hover .pixerex-banner-ib-desc::before, .pixerex-banner-animation3.active .pixerex-banner-ib-desc::before, .pixerex-banner-animation3:hover .pixerex-banner-ib-title, .pixerex-banner-animation3.active .pixerex-banner-ib-title {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation3 .pixerex-banner-ib-content {
    max-height: -webkit-calc(100% - 60px - 1.5em);
    max-height: calc(100% - 60px - 1.5em);
    overflow: hidden;
}
.pixerex-banner-animation4 img {
    width: -webkit-calc(100% + 40px)!important;
    width: calc(100% + 40px)!important;
    max-width: -webkit-calc(100% + 40px)!important;
    max-width: calc(100% + 40px)!important;
}
.pixerex-banner-animation4 .pixerex-banner-ib-desc {
    padding: 30px;
}
.pixerex-banner-animation4 .pixerex-banner-ib-desc::after, .pixerex-banner-animation4 .pixerex-banner-ib-desc::before {
    position: absolute;
    content: "";
    opacity: 0;
}
.pixerex-banner-animation4 .pixerex-banner-ib-desc::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.pixerex-banner-animation4 .pixerex-banner-ib-desc::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.pixerex-banner-animation4 .pixerex-banner-ib-title {
    padding: 50px 30px 0 30px;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation4 .pixerex-banner-ib-content, .pixerex-banner-animation4 .pixerex-banner-read-more {
    padding: 10px 30px;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}
.pixerex-banner-animation4 .pixerex-banner-ib-title, .pixerex-banner-animation4 img {
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
}
.pixerex-banner-animation4.zoomout img, .pixerex-banner-animation4.scale img {
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.1);
    transform: translate3d(-30px, 0, 0) scale(1.1);
}
.pixerex-banner-animation4 .pixerex-banner-ib-content, .pixerex-banner-animation4 .pixerex-banner-read-more, .pixerex-banner-animation4 .pixerex-banner-ib-desc::after, .pixerex-banner-animation4 .pixerex-banner-ib-desc::before, .pixerex-banner-animation4 img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
}
/*.pixerex-banner-animation4:hover img, .pixerex-banner-animation4.active img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
*/
.pixerex-banner-animation4:hover .pixerex-banner-ib-desc::after, .pixerex-banner-animation4.active .pixerex-banner-ib-desc::after, .pixerex-banner-animation4:hover .pixerex-banner-ib-desc::before, .pixerex-banner-animation4.active .pixerex-banner-ib-desc::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-banner-animation4:hover .pixerex-banner-ib-content, .pixerex-banner-animation4.active .pixerex-banner-ib-content, .pixerex-banner-animation4:hover .pixerex-banner-read-more, .pixerex-banner-animation4.active .pixerex-banner-read-more, .pixerex-banner-animation4:hover .pixerex-banner-ib-title, .pixerex-banner-animation4.active .pixerex-banner-ib-title {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation4:hover .pixerex-banner-ib-content, .pixerex-banner-animation4:hover .pixerex-banner-ib-desc::after, .pixerex-banner-animation4:hover .pixerex-banner-ib-title, .pixerex-banner-animation4:hover img {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}
.pixerex-banner-animation5 .pixerex-banner-ib-desc {
    top: auto;
    bottom: 0;
    padding: 15px;
    height: auto;
    background: #f2f2f2;
    color: #3c4a50;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.pixerex-banner-animation5 .pixerex-banner-ib-content {
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}
.pixerex-banner-animation5 .pixerex-banner-ib-title, .pixerex-banner-animation5 .pixerex-banner-read-more {
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    text-align: center;
}
.pixerex-banner-animation5 .pixerex-banner-ib-title {
    margin: 10px 0;
}
.pixerex-banner-animation5:hover .pixerex-banner-ib-content, .pixerex-banner-animation5.active .pixerex-banner-ib-content, .pixerex-banner-animation5:hover .pixerex-banner-ib-content *, .pixerex-banner-animation5.active .pixerex-banner-ib-content * {
    opacity: 1 !important;
    z-index: 99 !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}
.pixerex-banner-animation5:hover .pixerex-banner-ib-desc, .pixerex-banner-animation5.active .pixerex-banner-ib-desc, .pixerex-banner-animation5:hover .pixerex-banner-ib-title, .pixerex-banner-animation5.active .pixerex-banner-ib-title, .pixerex-banner-animation5:hover .pixerex-banner-read-more, .pixerex-banner-animation5.active .pixerex-banner-read-more {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.pixerex-banner-animation5:hover .pixerex-banner-ib-title {
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
}
.pixerex-banner-animation5 img, .pixerex-banner-animation2 img, .pixerex-banner-animation4 img, .pixerex-banner-animation6 img{
    -webkit-transition: opacity .35s,filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s ,-webkit-transform .35s;
    -webkit-transition: opacity .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s, -webkit-transform .35s;
}
.pixerex-banner-animation5.zoomout img, .pixerex-banner-animation5.scale img, .pixerex-banner-animation2.zoomout img, .pixerex-banner-animation2.scale img, .pixerex-banner-animation6.zoomout img, .pixerex-banner-animation6.scale img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.pixerex-banner-animation5.zoomin:hover img, .pixerex-banner-animation2.zoomin:hover img, .pixerex-banner-animation6.zoomin:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.pixerex-banner-animation5.zoomout:hover img, .pixerex-banner-animation2.zoomout:hover img, .pixerex-banner-animation6.zoomout:hover img{
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}
.pixerex-banner-animation5.scale:hover img, .pixerex-banner-animation2.scale:hover img, .pixerex-banner-animation6.scale:hover img {
    -webkit-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
}
.pixerex-banner-animation5.grayscale:hover img, .pixerex-banner-animation2.grayscale:hover img, .pixerex-banner-animation6.grayscale:hover img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.pixerex-banner-animation5.blur:hover img, .pixerex-banner-animation2.blur:hover img, .pixerex-banner-animation6.blur:hover img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.pixerex-banner-animation6 .pixerex-banner-ib-desc {
    padding: 45px;
}
.pixerex-banner-animation6 .pixerex-banner-ib-desc::before {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
}
.pixerex-banner-animation6 .pixerex-banner-ib-title {
    margin: 20px 0 10px;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.pixerex-banner-animation6 .pixerex-banner-ib-content, .pixerex-banner-animation6 .pixerex-banner-read-more, .pixerex-banner-animation6 .pixerex-banner-ib-desc::before {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.pixerex-banner-animation6 .pixerex-banner-read-more {
    margin-top: 10px;
}
.pixerex-banner-animation6:hover .pixerex-banner-ib-title, .pixerex-banner-animation6.active .pixerex-banner-ib-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation6:hover .pixerex-banner-ib-content, .pixerex-banner-animation6.active .pixerex-banner-ib-content, .pixerex-banner-animation6:hover .pixerex-banner-read-more, .pixerex-banner-animation6.active .pixerex-banner-read-more, .pixerex-banner-animation6:hover .pixerex-banner-ib-desc::before, .pixerex-banner-animation6.active .pixerex-banner-ib-desc::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-banner-animation8 img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15)
}
.pixerex-banner-animation8:hover img, .pixerex-banner-animation8.active img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-banner-animation8 .pixerex-banner-ib-title {
    margin-top: 20%;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.pixerex-banner-animation8:hover .pixerex-banner-ib-title, .pixerex-banner-animation8.active .pixerex-banner-ib-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation8 .pixerex-banner-ib-content {
    margin: 1em 0 0;
    padding: 35px;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    transform: translate3d(0, 20px, 0) scale(1.1);
}
.pixerex-banner-animation8:hover .pixerex-banner-ib-content, .pixerex-banner-animation8.active .pixerex-banner-ib-content {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.pixerex-banner-animation12 .pixerex-banner-ib-desc::after {
    position: absolute;
    content: "";
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 7px solid #fff;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.pixerex-banner-animation12:hover .pixerex-banner-ib-desc::after, .pixerex-banner-animation12.active .pixerex-banner-ib-desc::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation12 .pixerex-banner-ib-desc {
    padding: 45px;
    text-align: left;
}
.pixerex-banner-animation12 .pixerex-banner-ib-content {
    position: absolute;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
}
.pixerex-banner-animation12:hover .pixerex-banner-ib-content, .pixerex-banner-animation12.active .pixerex-banner-ib-content {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation13 img {
    width: -webkit-calc(100% + 20px)!important;
    width: calc(100% + 20px)!important;
    max-width: -webkit-calc(100% + 20px)!important;
    max-width: calc(100% + 20px)!important;
    -webkit-transition: opacity .35s,filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s ,-webkit-transform .35s;
    -webkit-transition: opacity .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s,-webkit-filter 0.35s, -webkit-transform .35s;
    transition: opacity .35s,filter 0.35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pixerex-banner-animation13.zoomout img, .pixerex-banner-animation13.scale img {
    -webkit-transform: translate3d(-10px, 0, 0) scale(1.1);
    transform: translate3d(-10px, 0, 0) scale(1.1);
}
.pixerex-banner-animation13.none:hover img, .pixerex-banner-animation1.none:hover img, .pixerex-banner-animation4.none:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation13.zoomin:hover img, .pixerex-banner-animation1.zoomin:hover img, .pixerex-banner-animation4.zoomin:hover img{
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
    transform: translate3d(0, 0, 0) scale(1.1);
}
.pixerex-banner-animation13.zoomout:hover img, .pixerex-banner-animation1.zoomout:hover img, .pixerex-banner-animation4.zoomout:hover img {
    -webkit-transform: translate3d(0, 0, 0) scale(1.0);
    transform: translate3d(0, 0, 0) scale(1.0);
}
.pixerex-banner-animation13.scale:hover img, .pixerex-banner-animation1.scale:hover img, .pixerex-banner-animation4.scale:hover img {
    -webkit-transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg);
    transform: translate3d(0, 0, 0) scale(1.2) rotate(5deg);
}
.pixerex-banner-animation13.grayscale:hover img, .pixerex-banner-animation1.grayscale:hover img, .pixerex-banner-animation4.grayscale:hover img{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.pixerex-banner-animation13.blur:hover img, .pixerex-banner-animation1.blur:hover img, .pixerex-banner-animation4.blur:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.pixerex-banner-animation13 .pixerex-banner-ib-desc {
    text-align: left;
}
.pixerex-banner-animation13 .pixerex-banner-ib-title {
    position: relative;
    overflow: hidden;
    padding: 5px 0 10px;
}
.pixerex-banner-animation13 .pixerex-banner-ib-title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
}
.pixerex-banner-animation13:hover .pixerex-banner-ib-title::after, .pixerex-banner-animation13.active .pixerex-banner-ib-title::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-animation13 .pixerex-banner-ib-content, .pixerex-banner-animation13 .pixerex-banner-read-more {
    padding: 15px 0;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.pixerex-banner-animation13:hover .pixerex-banner-ib-content, .pixerex-banner-animation13.active .pixerex-banner-ib-content, .pixerex-banner-animation13:hover .pixerex-banner-read-more, .pixerex-banner-animation13.active .pixerex-banner-read-more {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pixerex-banner-ib.pixerex-banner-animation5 .pixerex-banner-toggle-size {
    left: 50%;
    width: auto!important;
    height: 100%;
    max-width: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pixerex-banner-ib img {
    border: none;
    padding: 0;
    margin: 0;
}