.pixerex-contact-form-anim-yes .wpcf7-span::after {
    display: block;
    height: 2px;
    content: '';
    top: -2px;
    position: relative;
    width: 0px;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.pixerex-contact-form-anim-yes .wpcf7-span.is-focused::after {
    width: 100%;
}