.pixerex-maps-info-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pixerex-maps-info-title, .pixerex-maps-info-desc {
    margin: 0;
    padding: 0;
}
.pixerex-maps-container .gm-style-iw {
    text-align: center;
}
.pixerex-maps-container .gm-style img {
    max-width: none !important;
}