.pixerex-blog-post-container {
    padding: 15px;
}
.pixerex-blog-thumb-effect-wrapper {
    position: relative;
    overflow: hidden;
}
.pixerex-blog-thumbnail-container {
    overflow: hidden;
}
.pixerex-blog-post-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.pixerex-blog-post-link:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
/*Thumbnail Img*/
.pixerex-blog-thumbnail-container img, .pixerex-blog-thumbnail-container .below-entry-meta{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.pixerex-blog-thumb-effect-wrapper .pixerex-blog-zoomout-effect img, .pixerex-blog-thumb-effect-wrapper .pixerex-blog-scale-effect img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.pixerex-blog-thumb-effect-wrapper .pixerex-blog-sepia-effect img {
    -webkit-filter: sepia(30%);
    filter: sepia(30%);
}
.pixerex-blog-thumb-effect-wrapper .pixerex-blog-bright-effect img {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}
.pixerex-blog-thumb-effect-wrapper .pixerex-blog-trans-effect img {
    -webkit-transform: translateX(15px) scale(1.1);
    -ms-transform: translateX(15px) scale(1.1);
    transform: translateX(15px) scale(1.1);
}
/*Thumbnail Container Hover*/
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-zoomin-effect img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-zoomout-effect img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-scale-effect img {
    -webkit-transform: scale(1.3) rotate(-5deg);
    -ms-transform: scale(1.3) rotate(-5deg);
    transform: scale(1.3) rotate(-5deg);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-gray-effect img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-blur-effect img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-sepia-effect img {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-bright-effect img {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-trans-effect img {
    -webkit-transform: translateX(0px) scale(1.1);
    -ms-transform: translateX(0px) scale(1.1);
    transform: translateX(0px) scale(1.1);
}

.pixerex-blog-post-container .pixerex-blog-content-wrapper {
    clear: both;
    padding: 30px;
}
.pixerex-blog-skin-classic .pixerex-blog-thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.pixerex-blog-skin-classic .pixerex-blog-thumbnail-overlay a {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-thumbnail-overlay a  {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-blog-thumb-effect-wrapper:hover .pixerex-blog-thumbnail-overlay {
    opacity: 1;
}
.pixerex-blog-content-wrapper.empty-thumb {
    top: 0;
}
.pixerex-blog-clear-fix {
    clear: both;
}
.pixerex-blog-content-wrapper .pixerex-blog-inner-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}
/*Post Format Container*/
.pixerex-blog-format-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    background: #eee;
    width: 55px;
    height: 55px;
    font-size: 25px;
    margin-left: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pixerex-blog-format-link {
    line-height: 0;
}
/*Post Format Icon*/
.pixerex-blog-format-container i {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pixerex-blog-entry-title {
    margin-bottom: 10px;
}
.pixerex-blog-entry-meta {
    margin-bottom: 8px;
}
.pixerex-blog-entry-meta i{
    margin-left: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pixerex-blog-meta-data .pixerex-blog-meta-separator {
    margin: 0 5px;
}
.pixerex-blog-post-content {
    padding: 14px 0;
}
.pixerex-blog-post-container.cards .pixerex-blog-post-content {
    border-bottom: 1px solid #eaeaea;
}
.pixerex-blog-post-container.cards .pixerex-blog-post-content {
    border-bottom: 1px solid #eaeaea;
}
.pixerex-blog-post-container.cards .pixerex-blog-entry-meta {
    padding-top: 14px;
}
.pixerex-blog-author-thumbnail {
    position: relative;
    padding: 0 30px;
    width: 100%;
    top: -10px;
    height: 0;
    pointer-events: none;
}
.pixerex-blog-author-thumbnail img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    pointer-events: all;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pixerex-blog-post-content {
    margin-top: 0;
    margin-right: 75px;
}
.pixerex-blog-entry-title a, .pixerex-blog-meta-data a, .pixerex-blog-post-tags a, .pixerex-blog-post-content .pixerex-blog-excerpt-link{
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.pixerex-blog-pagination-container {
    padding: 15px;
    margin-top: -30px;
    text-align: left;
}
.pixerex-blog-pagination-container ul.page-numbers {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: none;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pixerex-blog-pagination-container li {
    margin: 0 0 0.4em 0.4em;
    padding: 0;
    text-align: center;
}
.pixerex-blog-pagination-container li span {
    cursor: default;
}
.pixerex-blog-pagination-container li .page-numbers {
    margin: 0;
    text-decoration: none;
    color: #000;
    padding: 0;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .75em;
    display: block;
    min-width: 2.5em;
    -webkit-transition: all 0.2s ease-in-out;
    -mos-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pixerex-blog-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-entry-meta, .pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-post-content, .pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-post-tags-container, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-entry-meta, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-post-content, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-post-tags-container {
    margin-right: 0;
}
.pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-format-container, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-format-container {
    display: none;
}
.pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-entry-title, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-entry-title {
    line-height: 1;
}
.pixerex-blog-wrap.pixerex-blog-col-3 .pixerex-blog-entry-title a, .pixerex-blog-wrap.pixerex-blog-col-4 .pixerex-blog-entry-title a{
    font-size: 20px;
}
/* * Carousel */
.pixerex-blog-wrap ul.slick-dots {
    width: 100%;
}
/* * Even Layout */
.pixerex-blog-even .pixerex-blog-post-container {
    height: 100%;
}
@media ( max-width: 1025px ) {
    .pixerex-blog-entry-title a {
        font-size: 18px;
    }
}
@media ( max-width: 768px ) {
    .pixerex-blog-content-wrapper {
        top: 0;
        margin: 0;
        padding: 15px;
    }
    .pixerex-blog-thumb-effect-wrapper {
        margin-bottom: 15px;
    }
    .pixerex-blog-format-container {
        display: none;
    }
    .pixerex-blog-entry-title {
        line-height: 1;
    }
    .pixerex-blog-entry-title a {
        font-size: 16px;
    }
    .pixerex-blog-entry-meta, .pixerex-blog-post-content {
        margin-right: 0px;
    }
}
