.pixerex-image-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #6ec1e4;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
/*Default background for slide styles*/
.pixerex-image-button:hover, .pixerex-image-button-style4-icon-wrapper, .pixerex-image-button-style1-top:before, .pixerex-image-button-style1-bottom:before, .pixerex-image-button-style1-left:before, .pixerex-image-button-style1-right:before {
    background-color: #54595f;
}
.pixerex-image-button.pixerex-image-button-sm {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1;
}
.pixerex-image-button.pixerex-image-button-md {
    padding: 14px 26px;
    font-size: 16px;
    line-height: 1.2;
}
.pixerex-image-button.pixerex-image-button-lg {
    padding: 16px 28px;
    font-size: 18px;
    line-height: 1.3333;
}
.pixerex-image-button.pixerex-image-button-block {
    font-size: 15px;
    line-height: 1;
    padding: 12px 24px;
    width: 100%;
    text-align: center;
}
.pixerex-image-button-text-icon-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
}
.pixerex-image-button-text-icon-wrapper span, .pixerex-image-button-text-icon-wrapper, .pixerex-image-button-text-icon-wrapper i{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pixerex-image-button-style1-bottom:before, .pixerex-image-button-style1-top:before, .pixerex-image-button-style1-left:before, .pixerex-image-button-style1-right:before {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pixerex-image-button-style1-bottom:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
}
.pixerex-image-button-style1-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    right: 0;
}
.pixerex-image-button-style1-right:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    right: 0;
}
.pixerex-image-button-style1-left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.pixerex-image-button-style1-bottom:hover:before {
    height: 100%;
}
.pixerex-image-button-style1-top:hover:before {
    height: 100%;
}
.pixerex-image-button-style1-right:hover:before {
    width: 100%;
}
.pixerex-image-button-style1-left:hover:before {
    width: 100%;
}
.pixerex-image-button-diagonal-effect-top, .pixerex-image-button-diagonal-effect-bottom, .pixerex-image-button-diagonal-effect-left, .pixerex-image-button-diagonal-effect-right {
    z-index: 10;
}
.pixerex-image-button-diagonal-effect-top:before, .pixerex-image-button-diagonal-effect-bottom:before, .pixerex-image-button-diagonal-effect-left:before, .pixerex-image-button-diagonal-effect-right:before {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    background: rgba(255,255,255,0.2);
    -webkit-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    -ms-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}
.pixerex-image-button-diagonal-effect-right:hover:before, .pixerex-image-button-diagonal-effect-left:before {
    -webkit-transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
    -ms-transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
    transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
}
.pixerex-image-button-diagonal-effect-left:hover:before, .pixerex-image-button-diagonal-effect-right:before {
    -webkit-transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
    -ms-transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
    transform: scale3d(14,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
}
.pixerex-image-button-diagonal-effect-top:hover:before, .pixerex-image-button-diagonal-effect-bottom:before {
    -webkit-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    -ms-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
    transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
}
.pixerex-image-button-diagonal-effect-bottom:hover:before, .pixerex-image-button-diagonal-effect-top:before {
    -webkit-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
    -ms-transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
    transform: scale3d(14,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
}
.pixerex-image-button-style4-icon-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pixerex-image-button-style4-icon-wrapper.top {
    bottom: -100%;
    right: 0;
}
.pixerex-image-button-style4-icon-wrapper.bottom {
    top: -100%;
    right: 0;
}
.pixerex-image-button-style4-icon-wrapper.left {
    top: 0;
    right: -100%;
}
.pixerex-image-button-style4-icon-wrapper.right {
    top: 0;
    left: -100%;
}
.pixerex-image-button-style4-bottom:hover .pixerex-image-button-style4-icon-wrapper {
    top: 0;
    opacity: 1;
}
.pixerex-image-button-style4-top:hover .pixerex-image-button-style4-icon-wrapper {
    bottom: 0;
    opacity: 1;
}
.pixerex-image-button-style4-left:hover .pixerex-image-button-style4-icon-wrapper {
    right: 0;
    opacity: 1;
}
.pixerex-image-button-style4-right:hover .pixerex-image-button-style4-icon-wrapper {
    left: 0;
    opacity: 1;
}
.pixerex-image-button-style4-bottom:hover .pixerex-image-button-text-icon-wrapper{
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}
.pixerex-image-button-style4-top:hover .pixerex-image-button-text-icon-wrapper{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
}
.pixerex-image-button-style4-left:hover .pixerex-image-button-text-icon-wrapper{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}
.pixerex-image-button-style4-right:hover .pixerex-image-button-text-icon-wrapper{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}
.pixerex-image-button-overlap-effect-horizontal:before, .pixerex-image-button-overlap-effect-vertical:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background: rgba(255,255,255,0.2);
    -webkit-animation-name: premium-overlap-effect-done;
    animation-name: premium-overlap-effect-done;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.pixerex-image-button-overlap-effect-vertical:before {
    -webkit-animation-name: premium-overlap-ver-effect-done;
    animation-name: premium-overlap-ver-effect-done;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.pixerex-image-button-overlap-effect-horizontal:hover:before {
    -webkit-animation-name: premium-overlap-effect;
    animation-name: premium-overlap-effect;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.pixerex-image-button-overlap-effect-vertical:hover:before {
    -webkit-animation-name: premium-overlap-ver-effect;
    animation-name: premium-overlap-ver-effect;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes premium-overlap-effect{
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes premium-overlap-effect{
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes premium-overlap-effect-done{
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes premium-overlap-effect-done{
    0% {
        opacity: 0;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes premium-overlap-ver-effect{
    0% {
        opacity: 0;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}
@keyframes premium-overlap-ver-effect{
    0% {
        opacity: 0;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}
@-webkit-keyframes premium-overlap-ver-effect-done{
    0% {
        opacity: 0;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}
@keyframes premium-overlap-ver-effect-done{
    0% {
        opacity: 0;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}