.premium-video-box-container {
    position: relative;
    height: 0;
}
.pa-aspect-ratio-11 .premium-video-box-container {
    padding-bottom: 100%;
}
.pa-aspect-ratio-169 .premium-video-box-container {
    padding-bottom: 56.25%;
}
.pa-aspect-ratio-43 .premium-video-box-container {
    padding-bottom: 75%;
}
.pa-aspect-ratio-32 .premium-video-box-container {
    padding-bottom: 66.6666%;
}
.pa-aspect-ratio-219 .premium-video-box-container {
    padding-bottom: 42.8571%;
}
.premium-video-box-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
}
.premium-video-box-play-icon-container {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(252,252,252,0.35);
}
.premium-video-box-description-container {
    position: absolute;
    z-index: 1;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.premium-video-box-text {
    margin-bottom: 0 !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.premium-video-box-play-icon{
    padding: 15px;
    -webkit-transform: translateX(4%);
    -ms-transform: translateX(4%);
    transform: translateX(4%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.premium-video-box-video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.premium-video-box-container[data-overlay="true"][data-type="self"] .premium-video-box-video-container {
    opacity: 0;
    visibility: hidden;
}
.premium-video-box-video-container iframe, .premium-video-box-video-container video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.premium-video-box-video-container video {
    background-color: #000;
    -o-object-fit: contain;
    object-fit: contain;
}
/**
* Vimeo Header
*/
.premium-video-box-container .premium-video-box-vimeo-wrap {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 10px;
    margin-right: 10px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    margin-right: 4.6em;
}
.premium-video-box-vimeo-wrap .premium-video-box-vimeo-portrait {
    width: 60px;
    height: 60px;
    background: rgba(23,35,34,.75);
    margin-right: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -moz-box-flex: 1;
    flex: 1 0 auto;
    padding: 0;
}
.premium-video-box-vimeo-portrait img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.premium-video-box-vimeo-wrap .premium-video-box-vimeo-headers {
    font-size: 10px;
}
.premium-video-box-vimeo-wrap .premium-video-box-vimeo-title {
    max-width: 100%;
    font-size: 2em !important;
    font-weight: 700;
    margin: 0;
    padding: .1em .2em;
    background: rgba(23,35,34,.75);
    display: inline-block;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}
.premium-video-box-vimeo-wrap .premium-video-box-vimeo-byline {
    font-size: 1.2em !important;
    font-weight: 400;
    color: #fff;
    margin-top: .1em;
    padding: .2em .5em;
    background: rgba(23,35,34,.75);
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}