.pixerex-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
.pixerex-button-sm {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1;
}
.pixerex-button-md {
    padding: 14px 26px;
    font-size: 16px;
    line-height: 1.2;
}
.pixerex-button-lg {
    padding: 16px 28px;
    font-size: 18px;
    line-height: 1.3333;
}
.pixerex-button-block {
    font-size: 15px;
    line-height: 1;
    padding: 12px 24px;
    width: 100%;
    text-align: center;
}
.pixerex-button-text {
    display: inline-block;
    width: 100%;
}
.pixerex-button-style1-bottom, .pixerex-button-style1-top, .pixerex-button-style1-right, .pixerex-button-style1-left, .pixerex-button-style2-shutouthor, .pixerex-button-style2-shutoutver, .pixerex-button-style2-shutinhor, .pixerex-button-style2-shutinver, .pixerex-button-style2-scshutouthor, .pixerex-button-style2-scshutoutver, .pixerex-button-style2-dshutinhor, .pixerex-button-style2-dshutinver, .pixerex-button-style5-radialin, .pixerex-button-style5-radialout, .pixerex-button-style5-rectin, .pixerex-button-style5-rectout {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.pixerex-button-style1-bottom:before, .pixerex-button-style1-top:before, .pixerex-button-style1-right:before, .pixerex-button-style1-left:before, .pixerex-button-style2-shutinhor:before, .pixerex-button-style2-shutinver:before, .pixerex-button-style2-shutouthor:before, .pixerex-button-style2-shutoutver:before, .pixerex-button-style2-scshutouthor:before, .pixerex-button-style2-scshutoutver:before, .pixerex-button-style2-dshutinhor:before, .pixerex-button-style2-dshutinver:before, .pixerex-button-style5-radialin:before, .pixerex-button-style5-radialout:before, .pixerex-button-style5-rectin:before, .pixerex-button-style5-rectout:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.pixerex-button-style5-radialin:before, .pixerex-button-style5-radialout:before {
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.pixerex-button-style5-radialin:before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.pixerex-button-style5-rectin:before, .pixerex-button-style5-rectout:before {
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-button-style5-rectout:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.pixerex-button-style5-rectout:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pixerex-button-style5-rectin:hover:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.pixerex-button-style5-radialout:hover:before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.pixerex-button-style5-radialin:hover:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.pixerex-button-style1-top:before {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.pixerex-button-style1-right:before {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.pixerex-button-style1-left:before {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.pixerex-button-style2-shutouthor:before, .pixerex-button-style2-scshutoutver:before{
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.pixerex-button-style2-shutoutver:before, .pixerex-button-style2-scshutouthor:before{
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.pixerex-button-style2-shutinhor:before{
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}
.pixerex-button-style2-shutinver:before{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}
.pixerex-button-style1-bottom:hover:before, .pixerex-button-style1-top:hover:before{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.pixerex-button-style1-left:hover:before, .pixerex-button-style1-right:hover:before, .pixerex-button-style2-shutouthor:hover:before, .pixerex-button-style2-shutoutver:hover:before{
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.pixerex-button-style2-shutinhor:hover:before{
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
.pixerex-button-style2-shutinver:hover:before{
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
.pixerex-button-style2-scshutouthor:hover:before{
    -webkit-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    transform: scaleX(0.9);
}
.pixerex-button-style2-scshutoutver:hover:before{
    -webkit-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    transform: scaleY(0.8);
}
/*Diagonal*/
.pixerex-button-style2-dshutinhor:before, .pixerex-button-style2-dshutinver:before {
    top: 50%;
    right: 50%;
    width: 120%;
    height: 0%;
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: all;
    transition-property: all;
}
.pixerex-button-style2-dshutinver:before {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(50%) translateY(-50%) rotate(-45deg);
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
}
.pixerex-button-style2-dshutinhor:hover:before, .pixerex-button-style2-dshutinver:hover:before{
    height: 220%;
}
.pixerex-button-style3-before i, .pixerex-button-style3-after i{
    opacity: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.pixerex-button-style3-after i{
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
.pixerex-button-style3-after:hover i {
    opacity: 1;
}
.pixerex-button-style3-before:hover i {
    opacity: 1;
}
.pixerex-button-text-icon-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pixerex-button-text-icon-wrapper span, .pixerex-button-text-icon-wrapper, .pixerex-button-text-icon-wrapper i{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.pixerex-button-style4-icon-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pixerex-button-style4-icon-wrapper.top {
    bottom: -100%;
    right: 0;
}
.pixerex-button-style4-icon-wrapper.bottom {
    top: -100%;
    right: 0;
}
.pixerex-button-style4-icon-wrapper.left {
    top: 0;
    right: -100%;
}
.pixerex-button-style4-icon-wrapper.right {
    top: 0;
    left: -100%;
}
.pixerex-button-style4-bottom:hover .pixerex-button-style4-icon-wrapper {
    top: 0;
    opacity: 1;
}
.pixerex-button-style4-top:hover .pixerex-button-style4-icon-wrapper {
    bottom: 0;
    opacity: 1;
}
.pixerex-button-style4-left:hover .pixerex-button-style4-icon-wrapper {
    right: 0;
    opacity: 1;
}
.pixerex-button-style4-right:hover .pixerex-button-style4-icon-wrapper {
    left: 0;
    opacity: 1;
}
.pixerex-button-style4-bottom:hover .pixerex-button-text-icon-wrapper{
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}
.pixerex-button-style4-top:hover .pixerex-button-text-icon-wrapper{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
}
.pixerex-button-style4-left:hover .pixerex-button-text-icon-wrapper{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}
.pixerex-button-style4-right:hover .pixerex-button-text-icon-wrapper{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}