.pixerex-carousel-wrapper a.carousel-arrow, .pixerex-carousel-wrapper a.ver-carousel-arrow, .premium-fb-rev-container a.carousel-arrow, .pixerex-blog-wrap a.carousel-arrow, .premium-hscroll-wrap a.carousel-arrow, .premium-twitter-feed-wrapper a.carousel-arrow, .premium-persons-container a.carousel-arrow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    line-height: 0;
    text-align: center;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: inherit;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
div[class^="premium-"] .slick-arrow i {
    display: block;
}
.ver-carousel-arrow.carousel-next i{
    margin-bottom: -3px;
}
.pixerex-carousel-wrapper a.slick-arrow:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.pixerex-carousel-wrapper .pixerex-carousel-content-hidden {
    visibility: hidden;
}
.pixerex-carousel-wrapper a.carousel-arrow, .premium-fb-rev-container a.carousel-arrow, .pixerex-blog-wrap a.carousel-arrow, .premium-hscroll-wrap a.carousel-arrow, .premium-twitter-feed-wrapper a.carousel-arrow, .premium-persons-container a.carousel-arrow {
    top: 50%;
}
.pixerex-carousel-wrapper a.ver-carousel-arrow {
    left: 50%;
}
a.carousel-arrow.carousel-next {
    right: -20px;
}
a.carousel-arrow.carousel-prev {
    left: -20px;
}
a.ver-carousel-arrow.carousel-next {
    bottom: -56px;
}
a.ver-carousel-arrow.carousel-prev {
    top: -45px;
}
a.circle-bg {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
a.circle-border {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: solid black;
}
a.square-border {
    border: solid black;
}
.pixerex-carousel-wrapper ul.slick-dots, .pixerex-blog-wrap ul.slick-dots {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.pixerex-carousel-dots-above ul.slick-dots {
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
ul.slick-dots li {
    font-size: 10px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    -js-display: inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes hvr-ripple-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
.pixerex-carousel-ripple-yes .pixerex-carousel-wrapper {
    padding-bottom: 1px;
}
/*.pixerex-carousel-ripple-yes .pixerex-carousel-wrapper li {
    display: inline-block;
    -webkit-transform: perspective(0px) translateZ(0);
    transform: perspective(0px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}*/
.pixerex-carousel-ripple-yes ul.slick-dots li,
.pixerex-carousel-ripple-yes ul.slick-dots li i {
    position: relative
}
.pixerex-carousel-ripple-yes ul.slick-dots li i {
    z-index: 1
}
.pixerex-carousel-ripple-yes ul.slick-dots li:hover:before {
    content: "";
    position: absolute;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.15)
}
.pixerex-carousel-ripple-yes ul.slick-dots li.slick-active:hover:before {
    background-color: rgba(0, 0, 0, 0.3)
}
.pixerex-carousel-ripple-yes ul.slick-dots li:hover:before {
    -webkit-animation: hvr-ripple-out 1.3s infinite;
    animation: hvr-ripple-out 1.3s infinite;
}
.pixerex-carousel-wrapper.pixerex-carousel-scale .slick-slide {
    -webkit-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.pixerex-carousel-wrapper.pixerex-carousel-scale div.slick-active {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
[dir='rtl'] .pixerex-carousel-inner .slick-slide {
    float: right;
}