.pixerex-image-scroll-section, .pixerex-image-scroll-container {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.pixerex-image-scroll-section {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.pixerex-image-scroll-container {
    width: 100%;
}
.pixerex-container-scroll {
    overflow: auto;
}
.pixerex-image-scroll-container .pixerex-image-scroll-horizontal {
    position: relative;
    width: 100%;
    height: 100%;
}
.pixerex-image-scroll-container .pixerex-image-scroll-horizontal img {
    max-width: none;
    height: 100%;
}
.pixerex-image-scroll-container .pixerex-image-scroll-vertical img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.pixerex-image-scroll-ver {
    position: relative;
}
.pixerex-image-scroll-container .pixerex-image-scroll-overlay {
    background: rgba(2,2,2,0.3);
}
.pixerex-image-scroll-container .pixerex-image-scroll-link, .pixerex-image-scroll-container .pixerex-image-scroll-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}
.pixerex-image-scroll-content {
    display: inline-block;
    position: absolute;
    height: auto;
    top: 50%;
    right: 50%;
    text-align: center;
    z-index: 5;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.pixerex-container-scroll-instant .pixerex-image-scroll-image {
    -webkit-transition: all 0s ease-in-out !important;
    transition: all 0s ease-in-out !important;
}
.pixerex-image-scroll-container img {
    -webkit-transition: transform 3s ease-in-out;
    -webkit-transition: -webkit-transform 3s ease-in-out;
    transition: -webkit-transform 3s ease-in-out;
    transition: transform 3s ease-in-out;
    transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
}
.pixerex-image-scroll-container .pixerex-image-scroll-overlay, .pixerex-image-scroll-container .pixerex-image-scroll-content {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.pixerex-image-scroll-container:hover .pixerex-image-scroll-overlay, .pixerex-image-scroll-container:hover .pixerex-image-scroll-content {
    opacity: 0;
}
.pixerex-image-scroll-container:hover .pixerex-image-scroll-content {
    visibility: hidden;
}
.pixerex-image-scroll-content .pixerex-image-scroll-icon {
    display: inline-block;
    font-family: 'pa-elements' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-duration: 0.5s ;
    animation-duration: 0.5s ;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.pa-horizontal-mouse-scroll:before {
    content: "\e917";
}
.pa-vertical-mouse-scroll:before {
    content: "\e918";
}
.pa-horizontal-mouse-scroll {
    -webkit-animation-name: pa-scroll-horizontal;
    animation-name: pa-scroll-horizontal;
}
.pa-vertical-mouse-scroll {
    -webkit-animation-name: pa-scroll-vertical;
    animation-name: pa-scroll-vertical;
}
@-webkit-keyframes pa-scroll-vertical {
    0% {
        -webkit-transform:translateY(0px);
        -ms-transform:translateY(0px);
        transform:translateY(0px);
    }
    100% {
        -webkit-transform:translateY(5px);
        -ms-transform:translateY(5px);
        transform:translateY(5px);
    }
}
@keyframes pa-scroll-vertical {
    0% {
        -webkit-transform:translateY(0px);
        -ms-transform:translateY(0px);
        transform:translateY(0px);
    }
    100% {
        -webkit-transform:translateY(5px);
        -ms-transform:translateY(5px);
        transform:translateY(5px);
    }
}
@-webkit-keyframes pa-scroll-horizontal {
    0% {
        -webkit-transform:translateX(0px);
        -ms-transform:translateX(0px);
        transform:translateX(0px);
    }
    100% {
        -webkit-transform:translateX(-5px);
        -ms-transform:translateX(-5px);
        transform:translateX(-5px);
    }
}
@keyframes pa-scroll-horizontal {
    0% {
        -webkit-transform:translateX(0px);
        -ms-transform:translateX(0px);
        transform:translateX(0px);
    }
    100% {
        -webkit-transform:translateX(-5px);
        -ms-transform:translateX(-5px);
        transform:translateX(-5px);
    }
}
